<table id="productTable" class="table">
    <thead style="background-color: #DADADA; color: #AD4240; font-weight: 600; border: none; ">
        <tr>
            <td class="text-center" style="border-bottom: 0; padding-top: 15px; padding-bottom:20px;">RESİM</td>
            <td style="border-bottom: 0; padding-top: 15px; padding-bottom: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ÜRÜN ADI</td>
            <td class="text-center" style="border-bottom: 0; padding-top: 15px; padding-bottom: 20px;">FİYAT</td>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/product.js"></script>
}